<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, 
                        initial-scale=1.0" />
    <title>QR Code Generator</title>

    <link rel="stylesheet" href="style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js">
    </script>
    <script src="main.js"></script>
</head>

<body>

    <main>
        <div class="centerdiv">
            
            <button onclick="getData()" class="buttonGetData">TEST</button>
           
            <div id="qrcode"></div>
            <div class="progresBarTheme ">
                <div id="progresBar"></div>
            </div>

            <button onclick="move()">test123</button>

        </div>

    </main>

</body>

</html>